*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #1abc9c;
    overflow-x: hidden;
}
/* página index */
.main-index{
    text-align: center;
    padding: 20px;
    margin-top: 10%;
    font-family: 'saira extra condensed', sans-serif;
    font-size: 50px;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'saira extra condensed', sans-serif;
    font-size: 20px;

}
li{
    float: left;
}
li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active){
    background-color: #111;
}
.active{
    background-color: #be3144;
}

/* exercício 1 */
.main-ex1{
   
    height: 100%;
    background-color: #1abc9c;
   
    
}

.blue,.red,.black,.green,.yellow{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%); 
   
}

.blue{
    width: 400px;
    height: 400px;
    background-color: blue;
   
}

.red{
    width: 300px;
    height: 300px;
    background-color: red;
}

.black{
    width: 200px;
    height: 200px;
    background-color: black;
}

.green{
    width: 100px;
    height: 100px;
    background-color: green;
}

.yellow{
    width: 50px;
    height: 50px;
    background-color: yellow;
}
/* exercício 2 */

.div-01{
    background-color: inherit;
  
    border: 2px solid;
    height:85%;
    width: 95%;
    position: absolute;
    top: 12%;
    right: 25px;
 
}

.div-1,.div-2,.div-3,.div-4{
    position: absolute;
    background-color: #222f3e;
    width: 150px;
    height: 150px;
}
.div-1{
    top:0;
    left: 0;
}
.div-2{
    top: 0;
    right: 0;
}
.div-3{
    bottom: 0;
    right: 0;
}

.div-4{
    bottom:0;
    left: 0;
}

/* exercício 3 */  

.ex-1, .ex-2  p{
    
    height: 150px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'saira extra condensed', sans-serif;
    padding: 15px;
    overflow-y: hidden;
    text-align: right;
    margin: 5%;
    
    
}
.ex-1{
    border-radius: 30px;
    
}
.ex-2 p{ 
    border: 3px solid #be3144;
    overflow: auto;
    text-align: left;
}

/* exercício 4*/
.cx{
    width: 100px;
    height: 100px;
    background-color: #222f3e;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    
    
}
.caixa{
    width: 340px;
    position: relative;
    top:10%;
    left: 0.5%;
}

.c_06{
    margin-right: 50px;    
}

.inferior{
    position: fixed;
    margin: 0;
    bottom: 5px;
    right: 5px;
}

.c_08{
   right: 110px; 
}

.c_09{
    right: 220px; 
 }

 .c_10{
    bottom: 110px; 
 }

 .c_11{
    right: 110px;
    bottom: 110px; 
 }

 .c_12{
    bottom: 220px; 
 }
